<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>bkk_JaeOhKhaoTomPet0.jpg</string>
    <string>bkk_SiMorakot0.jpg</string>
    <string>bkk_KwayChapMr.Joe0.jpg</string>
    <string>bkk_CharoensaengSilom0.jpg</string>
    <string>bkk_MuKrobNaiSai0.jpg</string>
    <string>bkk_TuangDimSum0.jpg</string>
    <string>bkk_JokeSamYaan0.jpg</string>
    <string>bkk_SomsakPuOb0.jpg</string>
    <string>bkk_Ruenton0.jpg</string>
    <string>bkk_HARIOCafeBangkok0.jpg</string>
    <string>bkk_NANACoffeeRoaster0.jpg</string>
    <string>bkk_Puritan0.jpg</string>
    <string>bkk_LowbatteryCoffee0.jpg</string>
    <string>bkk_Theoqposite0.jpg</string>
    <string>bkk_WoodbrookBangkok0.jpg</string>
    <string>bkk_BstoryCafe0.jpg</string>
    <string>bkk_VarenBKK0.jpg</string>
    <string>bkk_BluetampCafe0.jpg</string>
    <string>bkk_WhiteFlowerRestaurant0.jpg</string>
    <string>bkk_Hanaya0.jpg</string>
    <string>bkk_CopperBeyondBuffet0.jpg</string>
    <string>bkk_Kallapapreuk0.jpg</string>
    <string>bkk_BanNamKiengDin0.jpg</string>
    <string>bkk_AnAnLao0.jpg</string>
    <string>bkk_KruaBangna0.jpg</string>
    <string>bkk_Khinlomchomsaphan0.jpg</string>
    <string>bkk_JayFaiPratuPhee0.jpg</string>
    <string>bkk_KhaoJao0.jpg</string>
</array>
</plist>
