<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<array>
		<string>bkk_JaeOhKhaoTomPet0.jpg</string>
		<string>bkk_JaeOhKhaoTomPet1.jpg</string>
		<string>bkk_JaeOhKhaoTomPet2.jpg</string>
		<string>bkk_JaeOhKhaoTomPet3.jpg</string>
		<string>bkk_JaeOhKhaoTomPet4.jpg</string>
		<string>bkk_JaeOhKhaoTomPet5.jpg</string>
		<string>bkk_JaeOhKhaoTomPet6.jpg</string>
		<string>bkk_JaeOhKhaoTomPet7.jpg</string>
		<string>bkk_JaeOhKhaoTomPet8.jpg</string>
		<string>bkk_JaeOhKhaoTomPet9.jpg</string>
		<string>bkk_JaeOhKhaoTomPet10.jpg</string>
		<string>bkk_JaeOhKhaoTomPet11.jpg</string>
	</array>
	<key>2</key>
	<array>
		<string>bkk_NhongRimKlong0.jpg</string>
		<string>bkk_NhongRimKlong1.jpg</string>
		<string>bkk_NhongRimKlong2.jpg</string>
		<string>bkk_NhongRimKlong3.jpg</string>
		<string>bkk_NhongRimKlong4.jpg</string>
		<string>bkk_NhongRimKlong5.jpg</string>
		<string>bkk_NhongRimKlong6.jpg</string>
		<string>bkk_NhongRimKlong7.jpg</string>
		<string>bkk_NhongRimKlong8.jpg</string>
		<string>bkk_NhongRimKlong9.jpg</string>
		<string>bkk_NhongRimKlong10.jpg</string>
	</array>
	<key>3</key>
	<array>
		<string>bkk_HARIOCafeBangkok0.jpg</string>
		<string>bkk_HARIOCafeBangkok1.jpg</string>
		<string>bkk_HARIOCafeBangkok2.jpg</string>
		<string>bkk_HARIOCafeBangkok3.jpg</string>
		<string>bkk_HARIOCafeBangkok4.jpg</string>
		<string>bkk_HARIOCafeBangkok5.jpg</string>
		<string>bkk_HARIOCafeBangkok6.jpg</string>
		<string>bkk_HARIOCafeBangkok7.jpg</string>
		<string>bkk_HARIOCafeBangkok8.jpg</string>
		<string>bkk_HARIOCafeBangkok9.jpg</string>
		<string>bkk_HARIOCafeBangkok10.jpg</string>
	</array>
	<key>4</key>
	<array>
		<string>bkk_NANACoffeeRoaster0.jpg</string>
		<string>bkk_NANACoffeeRoaster1.jpg</string>
		<string>bkk_NANACoffeeRoaster2.jpg</string>
		<string>bkk_NANACoffeeRoaster3.jpg</string>
		<string>bkk_NANACoffeeRoaster4.jpg</string>
		<string>bkk_NANACoffeeRoaster5.jpg</string>
		<string>bkk_NANACoffeeRoaster6.jpg</string>
		<string>bkk_NANACoffeeRoaster7.jpg</string>
		<string>bkk_NANACoffeeRoaster8.jpg</string>
		<string>bkk_NANACoffeeRoaster9.jpg</string>
		<string>bkk_NANACoffeeRoaster10.jpg</string>
	</array>
	<key>5</key>
	<array>
		<string>bkk_Puritan0.jpg</string>
		<string>bkk_Puritan1.jpg</string>
		<string>bkk_Puritan2.jpg</string>
		<string>bkk_Puritan3.jpg</string>
		<string>bkk_Puritan4.jpg</string>
		<string>bkk_Puritan5.jpg</string>
		<string>bkk_Puritan6.jpg</string>
		<string>bkk_Puritan7.jpg</string>
		<string>bkk_Puritan8.jpg</string>
		<string>bkk_Puritan9.jpg</string>
		<string>bkk_Puritan10.jpg</string>
	</array>
	<key>6</key>
	<array>
		<string>bkk_LowbatteryCoffee0.jpg</string>
		<string>bkk_LowbatteryCoffee1.jpg</string>
		<string>bkk_LowbatteryCoffee2.jpg</string>
		<string>bkk_LowbatteryCoffee3.jpg</string>
		<string>bkk_LowbatteryCoffee4.jpg</string>
		<string>bkk_LowbatteryCoffee5.jpg</string>
		<string>bkk_LowbatteryCoffee6.jpg</string>
		<string>bkk_LowbatteryCoffee7.jpg</string>
		<string>bkk_LowbatteryCoffee8.jpg</string>
		<string>bkk_LowbatteryCoffee9.jpg</string>
		<string>bkk_LowbatteryCoffee10.jpg</string>
	</array>
	<key>7</key>
	<array>
		<string>bkk_Theoqposite0.jpg</string>
		<string>bkk_Theoqposite1.jpg</string>
		<string>bkk_Theoqposite2.jpg</string>
		<string>bkk_Theoqposite3.jpg</string>
		<string>bkk_Theoqposite4.jpg</string>
		<string>bkk_Theoqposite5.jpg</string>
		<string>bkk_Theoqposite6.jpg</string>
		<string>bkk_Theoqposite7.jpg</string>
		<string>bkk_Theoqposite8.jpg</string>
		<string>bkk_Theoqposite9.jpg</string>
		<string>bkk_Theoqposite10.jpg</string>
	</array>
	<key>8</key>
	<array>
		<string>bkk_WoodbrookBangkok0.jpg</string>
		<string>bkk_WoodbrookBangkok1.jpg</string>
		<string>bkk_WoodbrookBangkok2.jpg</string>
		<string>bkk_WoodbrookBangkok3.jpg</string>
		<string>bkk_WoodbrookBangkok4.jpg</string>
		<string>bkk_WoodbrookBangkok5.jpg</string>
		<string>bkk_WoodbrookBangkok6.jpg</string>
		<string>bkk_WoodbrookBangkok7.jpg</string>
		<string>bkk_WoodbrookBangkok8.jpg</string>
		<string>bkk_WoodbrookBangkok9.jpg</string>
		<string>bkk_WoodbrookBangkok10.jpg</string>
	</array>
	<key>9</key>
	<array>
		<string>bkk_BstoryCafe0.jpg</string>
		<string>bkk_BstoryCafe1.jpg</string>
		<string>bkk_BstoryCafe2.jpg</string>
		<string>bkk_BstoryCafe3.jpg</string>
		<string>bkk_BstoryCafe4.jpg</string>
		<string>bkk_BstoryCafe5.jpg</string>
		<string>bkk_BstoryCafe6.jpg</string>
		<string>bkk_BstoryCafe7.jpg</string>
		<string>bkk_BstoryCafe8.jpg</string>
		<string>bkk_BstoryCafe9.jpg</string>
		<string>bkk_BstoryCafe10.jpg</string>
	</array>
	<key>10</key>
	<array>
		<string>bkk_TrulyScrumptious0.jpg</string>
		<string>bkk_TrulyScrumptious1.jpg</string>
		<string>bkk_TrulyScrumptious2.jpg</string>
		<string>bkk_TrulyScrumptious3.jpg</string>
		<string>bkk_TrulyScrumptious4.jpg</string>
		<string>bkk_TrulyScrumptious5.jpg</string>
		<string>bkk_TrulyScrumptious6.jpg</string>
		<string>bkk_TrulyScrumptious7.jpg</string>
		<string>bkk_TrulyScrumptious8.jpg</string>
		<string>bkk_TrulyScrumptious9.jpg</string>
		<string>bkk_TrulyScrumptious10.jpg</string>
	</array>
	<key>11</key>
	<array>
		<string>bkk_VarenBKK0.jpg</string>
		<string>bkk_VarenBKK1.jpg</string>
		<string>bkk_VarenBKK2.jpg</string>
		<string>bkk_VarenBKK3.jpg</string>
		<string>bkk_VarenBKK4.jpg</string>
		<string>bkk_VarenBKK5.jpg</string>
		<string>bkk_VarenBKK6.jpg</string>
		<string>bkk_VarenBKK7.jpg</string>
		<string>bkk_VarenBKK8.jpg</string>
		<string>bkk_VarenBKK9.jpg</string>
		<string>bkk_VarenBKK10.jpg</string>
		<string>bkk_VarenBKK11.jpg</string>
	</array>
	<key>12</key>
	<array>
		<string>bkk_SiMorakot0.jpg</string>
		<string>bkk_SiMorakot1.jpg</string>
		<string>bkk_SiMorakot2.jpg</string>
		<string>bkk_SiMorakot3.jpg</string>
		<string>bkk_SiMorakot4.jpg</string>
		<string>bkk_SiMorakot5.jpg</string>
		<string>bkk_SiMorakot6.jpg</string>
		<string>bkk_SiMorakot7.jpg</string>
		<string>bkk_SiMorakot8.jpg</string>
		<string>bkk_SiMorakot9.jpg</string>
		<string>bkk_SiMorakot10.jpg</string>
		<string>bkk_SiMorakot11.jpg</string>
	</array>
	<key>13</key>
	<array>
		<string>bkk_SomsakPuOb0.jpg</string>
		<string>bkk_SomsakPuOb1.jpg</string>
		<string>bkk_SomsakPuOb2.jpg</string>
		<string>bkk_SomsakPuOb3.jpg</string>
		<string>bkk_SomsakPuOb4.jpg</string>
		<string>bkk_SomsakPuOb5.jpg</string>
		<string>bkk_SomsakPuOb6.jpg</string>
		<string>bkk_SomsakPuOb7.jpg</string>
		<string>bkk_SomsakPuOb8.jpg</string>
		<string>bkk_SomsakPuOb9.jpg</string>
		<string>bkk_SomsakPuOb10.jpg</string>
	</array>
	<key>14</key>
	<array>
		<string>bkk_BluetampCafe0.jpg</string>
		<string>bkk_BluetampCafe1.jpg</string>
		<string>bkk_BluetampCafe2.jpg</string>
		<string>bkk_BluetampCafe3.jpg</string>
		<string>bkk_BluetampCafe4.jpg</string>
		<string>bkk_BluetampCafe5.jpg</string>
		<string>bkk_BluetampCafe6.jpg</string>
		<string>bkk_BluetampCafe7.jpg</string>
		<string>bkk_BluetampCafe8.jpg</string>
		<string>bkk_BluetampCafe9.jpg</string>
		<string>bkk_BluetampCafe10.jpg</string>
	</array>
	<key>15</key>
	<array>
		<string>bkk_WhiteFlowerRestaurant0.jpg</string>
		<string>bkk_WhiteFlowerRestaurant1.jpg</string>
		<string>bkk_WhiteFlowerRestaurant2.jpg</string>
		<string>bkk_WhiteFlowerRestaurant3.jpg</string>
		<string>bkk_WhiteFlowerRestaurant4.jpg</string>
		<string>bkk_WhiteFlowerRestaurant5.jpg</string>
		<string>bkk_WhiteFlowerRestaurant6.jpg</string>
		<string>bkk_WhiteFlowerRestaurant7.jpg</string>
		<string>bkk_WhiteFlowerRestaurant8.jpg</string>
		<string>bkk_WhiteFlowerRestaurant9.jpg</string>
	</array>
	<key>16</key>
	<array>
		<string>bkk_Hanaya0.jpg</string>
		<string>bkk_Hanaya1.jpg</string>
		<string>bkk_Hanaya2.jpg</string>
		<string>bkk_Hanaya3.jpg</string>
		<string>bkk_Hanaya4.jpg</string>
		<string>bkk_Hanaya5.jpg</string>
		<string>bkk_Hanaya6.jpg</string>
		<string>bkk_Hanaya7.jpg</string>
		<string>bkk_Hanaya8.jpg</string>
		<string>bkk_Hanaya9.jpg</string>
		<string>bkk_Hanaya10.jpg</string>
	</array>
	<key>17</key>
	<array>
		<string>bkk_CopperBeyondBuffet0.jpg</string>
		<string>bkk_CopperBeyondBuffet1.jpg</string>
		<string>bkk_CopperBeyondBuffet2.jpg</string>
		<string>bkk_CopperBeyondBuffet3.jpg</string>
		<string>bkk_CopperBeyondBuffet4.jpg</string>
		<string>bkk_CopperBeyondBuffet5.jpg</string>
		<string>bkk_CopperBeyondBuffet6.jpg</string>
		<string>bkk_CopperBeyondBuffet7.jpg</string>
		<string>bkk_CopperBeyondBuffet8.jpg</string>
		<string>bkk_CopperBeyondBuffet9.jpg</string>
		<string>bkk_CopperBeyondBuffet10.jpg</string>
	</array>
	<key>18</key>
	<array>
		<string>bkk_Kallapapreuk0.jpg</string>
		<string>bkk_Kallapapreuk1.jpg</string>
		<string>bkk_Kallapapreuk2.jpg</string>
		<string>bkk_Kallapapreuk3.jpg</string>
		<string>bkk_Kallapapreuk4.jpg</string>
		<string>bkk_Kallapapreuk5.jpg</string>
		<string>bkk_Kallapapreuk6.jpg</string>
		<string>bkk_Kallapapreuk7.jpg</string>
		<string>bkk_Kallapapreuk8.jpg</string>
		<string>bkk_Kallapapreuk9.jpg</string>
	</array>
	<key>19</key>
	<array>
		<string>bkk_BanNamKiengDin0.jpg</string>
		<string>bkk_BanNamKiengDin1.jpg</string>
		<string>bkk_BanNamKiengDin2.jpg</string>
		<string>bkk_BanNamKiengDin3.jpg</string>
		<string>bkk_BanNamKiengDin4.jpg</string>
		<string>bkk_BanNamKiengDin5.jpg</string>
		<string>bkk_BanNamKiengDin6.jpg</string>
		<string>bkk_BanNamKiengDin7.jpg</string>
		<string>bkk_BanNamKiengDin8.jpg</string>
		<string>bkk_BanNamKiengDin9.jpg</string>
		<string>bkk_BanNamKiengDin10.jpg</string>
	</array>
	<key>20</key>
	<array>
		<string>bkk_AnAnLao0.jpg</string>
		<string>bkk_AnAnLao1.jpg</string>
		<string>bkk_AnAnLao2.jpg</string>
		<string>bkk_AnAnLao3.jpg</string>
		<string>bkk_AnAnLao4.jpg</string>
		<string>bkk_AnAnLao5.jpg</string>
		<string>bkk_AnAnLao6.jpg</string>
		<string>bkk_AnAnLao7.jpg</string>
		<string>bkk_AnAnLao8.jpg</string>
		<string>bkk_AnAnLao9.jpg</string>
		<string>bkk_AnAnLao10.jpg</string>
	</array>
	<key>21</key>
	<array>
		<string>bkk_KruaBangna0.jpg</string>
		<string>bkk_KruaBangna1.jpg</string>
		<string>bkk_KruaBangna2.jpg</string>
		<string>bkk_KruaBangna3.jpg</string>
		<string>bkk_KruaBangna4.jpg</string>
		<string>bkk_KruaBangna5.jpg</string>
		<string>bkk_KruaBangna6.jpg</string>
		<string>bkk_KruaBangna7.jpg</string>
		<string>bkk_KruaBangna8.jpg</string>
		<string>bkk_KruaBangna9.jpg</string>
		<string>bkk_KruaBangna10.jpg</string>
	</array>
	<key>22</key>
	<array>
		<string>bkk_Khinlomchomsaphan0.jpg</string>
		<string>bkk_Khinlomchomsaphan1.jpg</string>
		<string>bkk_Khinlomchomsaphan2.jpg</string>
		<string>bkk_Khinlomchomsaphan3.jpg</string>
		<string>bkk_Khinlomchomsaphan4.jpg</string>
		<string>bkk_Khinlomchomsaphan5.jpg</string>
		<string>bkk_Khinlomchomsaphan6.jpg</string>
		<string>bkk_Khinlomchomsaphan7.jpg</string>
		<string>bkk_Khinlomchomsaphan8.jpg</string>
		<string>bkk_Khinlomchomsaphan9.jpg</string>
	</array>
	<key>23</key>
	<array>
		<string>bkk_Khinlomchomsaphan0.jpg</string>
		<string>bkk_Khinlomchomsaphan1.jpg</string>
		<string>bkk_Khinlomchomsaphan2.jpg</string>
		<string>bkk_Khinlomchomsaphan3.jpg</string>
		<string>bkk_Khinlomchomsaphan4.jpg</string>
		<string>bkk_Khinlomchomsaphan5.jpg</string>
		<string>bkk_Khinlomchomsaphan6.jpg</string>
		<string>bkk_Khinlomchomsaphan7.jpg</string>
		<string>bkk_Khinlomchomsaphan8.jpg</string>
		<string>bkk_Khinlomchomsaphan9.jpg</string>
	</array>
	<key>24</key>
	<array>
		<string>bkk_JayFaiPratuPhee0.jpg</string>
		<string>bkk_JayFaiPratuPhee1.jpg</string>
		<string>bkk_JayFaiPratuPhee2.jpg</string>
		<string>bkk_JayFaiPratuPhee3.jpg</string>
		<string>bkk_JayFaiPratuPhee4.jpg</string>
		<string>bkk_JayFaiPratuPhee5.jpg</string>
		<string>bkk_JayFaiPratuPhee6.jpg</string>
		<string>bkk_JayFaiPratuPhee7.jpg</string>
		<string>bkk_JayFaiPratuPhee8.jpg</string>
		<string>bkk_JayFaiPratuPhee9.jpg</string>
		<string>bkk_JayFaiPratuPhee10.jpg</string>
	</array>
	<key>25</key>
	<array>
		<string>bkk_KwayChapMr.Joe0.jpg</string>
		<string>bkk_KwayChapMr.Joe1.jpg</string>
		<string>bkk_KwayChapMr.Joe2.jpg</string>
		<string>bkk_KwayChapMr.Joe3.jpg</string>
		<string>bkk_KwayChapMr.Joe4.jpg</string>
		<string>bkk_KwayChapMr.Joe5.jpg</string>
		<string>bkk_KwayChapMr.Joe6.jpg</string>
		<string>bkk_KwayChapMr.Joe7.jpg</string>
		<string>bkk_KwayChapMr.Joe8.jpg</string>
		<string>bkk_KwayChapMr.Joe9.jpg</string>
		<string>bkk_KwayChapMr.Joe10.jpg</string>
	</array>
	<key>26</key>
	<array>
		<string>bkk_KhaoJao0.jpg</string>
		<string>bkk_KhaoJao1.jpg</string>
		<string>bkk_KhaoJao2.jpg</string>
		<string>bkk_KhaoJao3.jpg</string>
		<string>bkk_KhaoJao4.jpg</string>
		<string>bkk_KhaoJao5.jpg</string>
		<string>bkk_KhaoJao6.jpg</string>
		<string>bkk_KhaoJao7.jpg</string>
		<string>bkk_KhaoJao8.jpg</string>
		<string>bkk_KhaoJao9.jpg</string>
		<string>bkk_KhaoJao10.jpg</string>
	</array>
	<key>27</key>
	<array>
		<string>bkk_CharoensaengSilom0.jpg</string>
		<string>bkk_CharoensaengSilom1.jpg</string>
		<string>bkk_CharoensaengSilom2.jpg</string>
		<string>bkk_CharoensaengSilom3.jpg</string>
		<string>bkk_CharoensaengSilom4.jpg</string>
		<string>bkk_CharoensaengSilom5.jpg</string>
		<string>bkk_CharoensaengSilom6.jpg</string>
		<string>bkk_CharoensaengSilom7.jpg</string>
		<string>bkk_CharoensaengSilom8.jpg</string>
		<string>bkk_CharoensaengSilom9.jpg</string>
		<string>bkk_CharoensaengSilom10.jpg</string>
	</array>
	<key>28</key>
	<array>
		<string>bkk_MuKrobNaiSai0.jpg</string>
		<string>bkk_MuKrobNaiSai1.jpg</string>
		<string>bkk_MuKrobNaiSai2.jpg</string>
		<string>bkk_MuKrobNaiSai3.jpg</string>
		<string>bkk_MuKrobNaiSai4.jpg</string>
		<string>bkk_MuKrobNaiSai5.jpg</string>
		<string>bkk_MuKrobNaiSai6.jpg</string>
		<string>bkk_MuKrobNaiSai7.jpg</string>
		<string>bkk_MuKrobNaiSai8.jpg</string>
		<string>bkk_MuKrobNaiSai9.jpg</string>
		<string>bkk_MuKrobNaiSai10.jpg</string>
	</array>
	<key>29</key>
	<array>
		<string>bkk_TuangDimSum0.jpg</string>
		<string>bkk_TuangDimSum1.jpg</string>
		<string>bkk_TuangDimSum2.jpg</string>
		<string>bkk_TuangDimSum3.jpg</string>
		<string>bkk_TuangDimSum4.jpg</string>
		<string>bkk_TuangDimSum5.jpg</string>
		<string>bkk_TuangDimSum6.jpg</string>
		<string>bkk_TuangDimSum7.jpg</string>
		<string>bkk_TuangDimSum8.jpg</string>
		<string>bkk_TuangDimSum9.jpg</string>
		<string>bkk_TuangDimSum10.jpg</string>
		<string>bkk_TuangDimSum11.jpg</string>
	</array>
	<key>30</key>
	<array>
		<string>bkk_JokeSamYaan0.jpg</string>
		<string>bkk_JokeSamYaan1.jpg</string>
		<string>bkk_JokeSamYaan2.jpg</string>
		<string>bkk_JokeSamYaan3.jpg</string>
		<string>bkk_JokeSamYaan4.jpg</string>
		<string>bkk_JokeSamYaan5.jpg</string>
		<string>bkk_JokeSamYaan6.jpg</string>
		<string>bkk_JokeSamYaan7.jpg</string>
		<string>bkk_JokeSamYaan8.jpg</string>
		<string>bkk_JokeSamYaan9.jpg</string>
		<string>bkk_JokeSamYaan10.jpg</string>
	</array>
</dict>
</plist>
