<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>bkk_JaeOhKhaoTomPet1.jpg</string>
	<string>bkk_NhongRimKlong1.jpg</string>
	<string>bkk_HARIOCafeBangkok1.jpg</string>
	<string>bkk_NANACoffeeRoaster1.jpg</string>
	<string>bkk_Puritan1.jpg</string>
	<string>bkk_LowbatteryCoffee1.jpg</string>
	<string>bkk_Theoqposite1.jpg</string>
	<string>bkk_WoodbrookBangkok1.jpg</string>
	<string>bkk_BstoryCafe1.jpg</string>
	<string>bkk_TrulyScrumptious1.jpg</string>
	<string>bkk_VarenBKK1.jpg</string>
	<string>bkk_SiMorakot1.jpg</string>
	<string>bkk_SomsakPuOb1.jpg</string>
	<string>bkk_BluetampCafe1.jpg</string>
	<string>bkk_WhiteFlowerRestaurant1.jpg</string>
	<string>bkk_Hanaya1.jpg</string>
	<string>bkk_CopperBeyondBuffet1.jpg</string>
	<string>bkk_Kallapapreuk1.jpg</string>
	<string>bkk_BanNamKiengDin1.jpg</string>
	<string>bkk_AnAnLao1.jpg</string>
	<string>bkk_KruaBangna1.jpg</string>
	<string>bkk_Khinlomchomsaphan1.jpg</string>
	<string>bkk_Khinlomchomsaphan2.jpg</string>
	<string>bkk_JayFaiPratuPhee1.jpg</string>
	<string>bkk_KwayChapMr.Joe1.jpg</string>
	<string>bkk_KhaoJao1.jpg</string>
	<string>bkk_CharoensaengSilom1.jpg</string>
	<string>bkk_MuKrobNaiSai1.jpg</string>
	<string>bkk_TuangDimSum1.jpg</string>
	<string>bkk_JokeSamYaan1.jpg</string>
</array>
</plist>
